@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme');
body {
    background-image: url("/home/luigi/code_institute_projects/Stream-1_milestone_project/project-assets-master/assets/images/monkees.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-color: #7d5db9cc;
    background-blend-mode: overlay;
}

img {
    opacity: 0.5;
    border-radius: 50%;
}

.navbar-default {
    background-color: transparent;
    border: none;
    display: block;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
}

.navbar-nav {
    margin-top: 20px;
    font-size: 28px;
    color: #ffffff;
    padding-right: 60px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 40px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fffb00c7;
}

social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 42px;
    height: 42px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    background: #00000086;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fffb00c7;
}